/*Add background pattern*/
body {
  background-image: url(./images/congruent_pentagon.png);
  background-size: auto, cover; 
}


/*Style everything within the container*/
.card-header {
  background-color: navy;
}

.card.text {
  background: navy;
  height: auto;
  width: auto;
}

.col-md-4 {
  background-color: navy;
  border: grey 2px solid;
  border-radius: 5px; 
}
.col-md-3 {
  background-color: navy;
  border: grey 2px solid;
  border-radius: 5px;  
  position: relative;
  right:-20px; 
}

.jumbotron {
  background-color: navy;
  color: #ccc;
  text-align: center; 
}

.col-md-7-usertotal {
  background-color: navy;
  border: grey 2px solid;
  border-radius: 5px; 
  padding: 25px; 
}

/* Style the headings and text*/
h1 {
  color: lightpink;
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  color: lightpink;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

h3 {
  color: lightpink;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

p {
  color: lightpink;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  font-weight:bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

